<div>
    <button (click)="openDatepicker()">Open Datepicker Today</button><span>result: {{normalResult}}</span>
</div>

<div>
    <button (click)="openDatepickerCustomColor()">Open Datepicker Custom Color</button><span>result: {{customColorResult}}</span>
</div>

<div>
    <button (click)="openDatepickerSpecify()">Open Datepicker Specify Date</button><span>result: {{specifyResult}}</span>
</div>

<div>
    <button (click)="openDatepickerOutputFormat()">Open Datepicker Output Format</button><span>result: {{outputFormatResult}}</span>
</div>
